#xterm*faceName: IBM Plex Mono
xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 13
!xterm*transparent: true

!~~~~~RED?
! *** Colors ***
!xterm*background:   #000000
!xterm*foreground:   #d64937
!xterm*cursorColor:  #FF0000
!XTerm*pointerColorBackground: black
!XTerm*cursorBlink: true

! black
!xterm*color0:       #ababab
!xterm*color8:       #303132

! red
!xterm*color1:       #909093
!xterm*color9:       #353535

! green
!xterm*color2:       #7e7e7e
!xterm*color10:      #3a3b3c

! yellow
!xterm*color3:       #777777
!xterm*color11:      #4a4b4c

! blue
!xterm*color4:       #6a686c
!xterm*color12:      #535455

! magenta
!xterm*color5:       #555457
!xterm*color13:      #696969

! cyan
!xterm*color6:       #4a4b4c
!xterm*color14:      #7c7c7e

! white
!xterm*color7:       #292a2b
!xterm*color15:      #999999


!~~~~~~~OLD
! special
xterm*.foreground:   #c5c8c6
xterm*.background:   #1d1f21
xterm*.cursorColor:  #c5c8c6

! black
xterm*.color0:       #282a2e
xterm*.color8:       #373b41

! red
xterm*.color1:       #a54242
xterm*.color9:       #cc6666

! green
xterm*.color2:       #8c9440
xterm*.color10:      #b5bd68

! yellow
xterm*.color3:       #de935f
xterm*.color11:      #f0c674

! blue
xterm*.color4:       #5f819d
xterm*.color12:      #81a2be

! magenta
xterm*.color5:       #85678f
xterm*.color13:      #b294bb

! cyan
xterm*.color6:       #5e8d87
xterm*.color14:      #8abeb7

! white
xterm*.color7:       #707880
xterm*.color15:      #c5c8c6

